/******************/
/* General Styles */
/******************/

body {
   font-family: Arial;
}

div {
    width: 200px;
    height: 200px;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.one:hover {
    background-color: aqua;
    border-radius: 50%;
    transition: all .2s ease-out;
}

.two:hover {
    background-color: aqua;
    border-radius: 50%;
    transition: all .2s ease-out;
}

.three:hover {
    background-color: aqua;
    border-radius: 50%;
    transition: all .2s ease-out;
}